body{
  background-color: black;
  color: white;
}

.draggable {
  position: absolute;
}
.time {
  font-weight: lighter;
  font-size: 5rem;
}

.spotify {
  background-color: #1a1a1a;
  padding: 1.5vw;
  border-radius: 1.5rem;
  display: grid;
  grid-gap: 1rem;
  width: 35rem;
  min-width: fit-content;
  & img {
    width: 200px;
    height: 200px;
    grid-column-start: 1;
    grid-row-start: 1;
  }
  & .track {
    grid-column-start: 2;
    grid-column-end: 10;
  }
  & .bar {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 2;
  }
}
