body{
  background-color: black;
  color: white;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-block: 0.25rem;
  background-color: #1a1a1a;
  padding: 1rem;
  border-radius: 1.5rem;
  > div {
    padding: 0.25rem;
    display: flex;
    align-items: center;
  }
}

.weather {
  display: flex;
  font-weight: lighter;
  background-color: #1a1a1a;
  border-radius: 1.5rem;
  flex-direction: row;

  > * {
    padding: 1.5rem;
    font-size: 1.5rem;
  }

  Button{
    margin-inline: 1rem;
  }

  #location {
    font-size: 2rem;
  }

  #temp {
    font-size: 3rem;
    font-weight: normal;
  }
}

.draggable {
  position: absolute;
}
.time {
  font-weight: lighter;
  font-size: 7rem;
}

.row{
  display:flex;
  align-items:center;
}

.spotify {
  background-color: #1a1a1a;
  padding: 1.5vw;
  border-radius: 1.5rem;
  display: grid;
  grid-gap: 1rem;
  width: 30rem;
  min-width: fit-content;
  & img {
    width: 200px;
    height: 200px;
    grid-column-start: 1;
    grid-row-start: 1;
  }
  & .track {
    grid-column-start: 2;
    grid-column-end: 10;
  }
  & .bar {
    padding-top: 1rem;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 2;
  }
}
